body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

.heading {
  padding: 16px 32px 8px 48px;
}

.subHeading {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.settingsCopy {
  margin-left: 24px;
}

canvas {
  display: block;
  margin: 8px 48px;
  border: 1px solid black;
  background-color: rgba(0, 115, 119, 0.7);
}

.settingsSection {
  display: block;
  box-sizing: border-box;
  width: 750px;
  padding: 24px 16px 24px 48px;
  margin: 16px 48px 32px 48px;
  background-color: rgba(0, 115, 119, 0.1);
}

.inputContainer {
  display: block;
  margin-bottom: 12px;
}

.inputLabel {
  font-weight: 400;

  &.spacing {
    margin-left: 12px;
  }
}

.inputLabelHeading {
  display: inline-block;
  margin-right: 8px;
  font-weight: 600;
}

.inputLabelOffset {
  margin-right: 0;
}
.fileInput {
  display: inline;
  width: max-content;
  margin: 0 6px;
  border-radius: 5px;
  background: rgba(0, 115, 119, 0.2);
}

.buttonCommon {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 8px;
  padding: 6px 18px;
  height: 2rem;
  margin-bottom: 6px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  color: #fff;

  &.buttonLeftMargin {
    margin-left: 24px;
  }
}

.iconPosition {
  margin-left: 4px;
  margin-right: 12px;
}

.offsetInput {
  width: 74px;
  height: 32px;
  line-height: 1.65;
  padding: 0;
  margin: 0;
  padding-left: 12px;
  border: 4px solid #eee;
  font-size: 16px;

  &.spacing {
    margin-left: 24px;
  }
}

.inputContainer input:focus {
  outline: 0;
}
